<div class="tm-timeline uk-margin-large-top">
    {% for version in site.data.changelog %}
    <div class="tm-timeline-entry">
        <div class="tm-timeline-time">
            <h5>{{ version.date }}</h5>
        </div>
        <div class="tm-timeline-body">
            <h3 class="uk-flex uk-flex-middle">{{ version.title }}{% if version.label %}<span class="uk-label uk-margin-small-left">{{ version.label }}</span>{% endif %}</h3>
            <ul class="uk-list">
                {% for item in version.list %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
