{% if include.email %}
<form class="uk-form-stacked uk-margin-medium-top" method="POST" action="https://formspree.io/f/xknkozke" accept-charset="UTF-8">
    {% if include.name == 'true' %}
    <div class="uk-margin-medium-bottom">
        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">{{ site.data.translation[site.lang].contact_name | default: "Name" }}</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-large uk-border-rounded" name="name" type="text" required>
        </div>
    </div>
    {% endif %}
    <div class="uk-margin-medium-bottom">
        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">{{ site.data.translation[site.lang].contact_email | default: "Email" }}</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-large uk-border-rounded" name="_replyto" type="email" required>
        </div>
    </div>
    {% if include.subject == 'true' %}
    <div class="uk-margin-medium-bottom">
        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">{{ site.data.translation[site.lang].contact_subject | default: "Subject" }}</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-large uk-border-rounded" name="_subject" type="text">
        </div>
    </div>
    {% endif %}
    <div class="uk-margin-medium-bottom">
        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">{{ site.data.translation[site.lang].contact_message | default: "Message" }}</label>
        <div class="uk-form-controls">
            <textarea class="uk-textarea uk-form-large uk-border-rounded" name="message" rows="5" minlength="10" required></textarea>
        </div>
    </div>
    <div>
        {% if include.redirect %}
        <input type="hidden" name="_next" value="{{ include.redirect | absolute_url }}">
        {% endif %}
        <input type="text" name="_gotcha" style="display:none">
        <input class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit" value="{{ site.data.translation[site.lang].contact_send | default: 'Send' }}">
    </div>
</form>
{% endif %}
