<div class="uk-margin-large-top paginate-post">
    <div class="uk-child-width-expand@s uk-grid-large uk-pagi" data-uk-grid>
        <div>
            {% if page.previous.url %}
                <h4>{{page.previous.title}}</h4>
                <div><a class="remove-underline hvr-back" href="{{page.previous.url}}">&larr; {{ site.data.translation[site.lang].previous | default: "Previous" }}</a></div>
            {% endif %}
        </div>
        <div>
            {% if page.next.url %}
                <h4 class="uk-text-right">{{page.next.title}}</h4>
                <div class="uk-text-right"><a class="remove-underline hvr-forward" href="{{page.next.url}}">{{ site.data.translation[site.lang].next | default: "Next" }} &rarr;</a></div>
            {% endif %}
        </div>
    </div>
</div>
