{% if site.social.twitter %}
<div class="uk-first-column">
    <a href="{{ site.social.twitter }}" data-uk-icon="icon: twitter" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.facebook %}
<div>
    <a href="{{ site.social.facebook }}" data-uk-icon="icon: facebook" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.flickr %}
<div>
    <a href="{{ site.social.flickr }}" data-uk-icon="icon: flickr" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.dribbble %}
<div>
    <a href="{{ site.social.dribbble }}" data-uk-icon="icon: dribbble" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.instagram %}
<div>
    <a href="{{ site.social.instagram }}" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.googleplus %}
<div>
    <a href="{{ site.social.googleplus }}" data-uk-icon="icon: google-plus" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.linkedin %}
<div>
    <a href="{{ site.social.linkedin }}" data-uk-icon="icon: linkedin" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.pinterest %}
<div>
    <a href="{{ site.social.pinterest }}" data-uk-icon="icon: pinterest" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.vimeo %}
<div>
    <a href="{{ site.social.vimeo }}" data-uk-icon="icon: vimeo" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.youtube %}
<div>
    <a href="{{ site.social.youtube }}" data-uk-icon="icon: youtube" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.github %}
<div>
    <a href="{{ site.social.github }}" data-uk-icon="icon: github" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.email %}
<div>
    <a href="{{ site.social.email }}" data-uk-icon="icon: mail" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social.website %}
<div>
    <a href="{{ site.social.website }}" data-uk-icon="icon: link" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
